# User to deploy resources into vCenter
vcenter_api_user = "username"
vcenter_api_password = "password"

# User for OpenShift cluster storage
vcenter_storage_user = "username"
vcenter_storage_password = "password"

# vCenter information
vcenter_server_name = "vcsa.vmware.devcluster.openshift.com"
vcenter_datacenter_name = "datacenter1"
vcenter_cluster_name = "cluster1"
vcenter_datastore_name = "ds1"
vcenter_network_name = "network1"
vcenter_folder_path = "/path/to/vms"
rhcos_template_name = "rhcos"

# OpenShift cluster id
cluster_id = "ocp4"

# Bootstrap host data
bootstrap_cpus = "4"
bootstrap_memory =  "16392"
bootstrap_disk = "120"
bootstrap_ignition_url = "http://server:8008/bootstrap.ign"
bootstrap_vm_mac = "00:50:56:9b:40:00"

# Master hosts data
master_cpus = "4"
master_memory = "16392"
master_disk = "120"
master_ignition_path = "/path/to/master.ign"
master_vm_mac_list = [
  "00:50:56:9b:40:10",
  "00:50:56:9b:40:11",
  "00:50:56:9b:40:12"
]

# Worker hosts data
worker_cpus = "4"
worker_memory = "16392"
worker_disk = "120"
worker_ignition_path = "/path/to/worker.ign"
worker_vm_count = "6"
worker_vm_mac_list = [
    "00:50:56:9b:40:20",
    "00:50:56:9b:40:21",
    "00:50:56:9b:40:22",
    "00:50:56:9b:40:23",
    "00:50:56:9b:40:24",
    "00:50:56:9b:40:25"
]